@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "poppins", sans-serif;
    background-color: #EEEEEE;
    color: var(--main-font-color);
}

:root {
    --light-bg-font-color: #EEEEEE;
    --dark-bg-font-color: #283E53;
    --button-color: #70B6BE;
    --main-font-color: #3E3E3E;
    --main-margin-left-right: 0px;
    --inner-container-width: 1000px;
}

/* ------------------------------- 2. Typography ----------------------------------- */
h1,
.main__subtitle {
    font-size: 50px;
    color: var(--light-bg-font-color);
}

h2 {
    font-family: "Austein", sans-serif;
    font-size: 30px;
    font-weight: lighter;
    color: var(--dark-bg-font-color);
}

h3 {
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 700;
    word-spacing: 2px;
    /*margin-top: 30px;*/
    margin-bottom: 20px;
}

h4 {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 8px;
}

h5 {
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 8px;
}

li > p {
    font-size: 10px;
    font-weight: 300;
    color: var(--light-bg-font-color);
}

p,
#ingredients-list,
.recipe-nutrients-card {
    font-size: 14px;
}

li {
    list-style-type: none;
    text-transform: capitalize;
}

li a {
    text-decoration: none;
}

.navigation-list li a {
    color: var(--main-font-color);
    font-size: 12px;
    font-weight: 600;
}

select {
    text-transform: capitalize;
}

.recipe-name {
    font-size: 13px;
    font-weight: 600;
}

.recipe-info-text p {
    font-size: 12px;
}

.cooking-time {
    text-transform: lowercase;
}


/* ------------------------------- 3. Layout --------------------------------------- */

.body__outer-container {
    background-color: white;
}

.outer-container,
.header__outer-container,
.navigation__outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-shrink: 1;
}

.inner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: var(--inner-container-width);
    flex-shrink: 1;
}


/*--------------------------------- 3.1 Temporary Border ----------------------------*/
.outer-container {
    border: 1px solid red;
}

.inner-container {
    border: 1px solid green;
}

h1,
.main__subtitle,
h2,
.navigation-list,
.footer-list,
h3{
    border: 1px solid dodgerblue;
}

.header__outer-container,
.navigation__outer-container,
.random-recipe-item,
.search__form,
#main__recipes-list li {
    border: 2px solid orange;
}

#main__recipes-results-list {
    border: 1px solid deeppink;
}

.recipe-result-img {
    border: 1px solid greenyellow;
}

.recipe {
    border: 2px solid black;
}

#main__recipe-page-wrapper div {
    border: 2px solid brown;
}

#calculator__results-card,
#calculator__item-card,
.calculator__amount-servings-wrapper,
.calculator__search-wrapper {
    border: 2px solid darkslateblue;
    width: 50%;
    height: 100px;
}

/* --------------- 3.2 Reusables ----------------------- */

button,
.header__button {
    text-transform: capitalize;
    text-decoration: none;
    width: 120px;
    height: 32px;
    text-align: start;
    padding-left: 20px;
    font-family: poppins, sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: var(--dark-bg-font-color);
    background-color: var(--button-color);
    border-style: none;
    border-radius: 4px;
}

button::after,
.header__button::after {
    content: "→";
    display: inline-block;
    padding-left: 20px;
}

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */
/*---------------- 4.1 Navigation --------------------- */
.navigation__outer-container {
    background-color: var(--light-bg-font-color);
}

.nav-wrapper {
    height: 60px;
}

.nav-wrapper h2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    margin-left: var(--main-margin-left-right);
    flex-basis: 50%;
    /*flex-shrink: inherit;*/
}


.navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 50%;
    /*flex-shrink: inherit;*/
    gap: 35px;
    height: 50px;
    margin-right: var(--main-margin-left-right);
}


/* --------------- 4.2 Header ------------------------- */

.header__outer-container {
    background-image: url("./assets/images/hero-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    flex-basis: 450px;

}

.header__title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;

}

.header__button {
    width: 140px;
    padding-left: 15px;
}

.header-text {
    margin-left: var(--main-margin-left-right);

}


.header__random-recipe-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#header__random-recipes-list {

}

.random-recipe-item {
    height: 100px;
    width: 100px;
}

.random-recipe-item a {
    align-self: center;
}


/* --------------- 4.3 Main --------------------------- */


/* --------------- 4.3.1 Main - Home Page -------------- */
.main__search-wrapper {
    width: 100%;
    height: 90px;
    background-color: var(--dark-bg-font-color);

}

.search__form {
    display: flex;
    justify-content: space-between;
    flex-basis: var(--inner-container-width);
}

#meal-type,
#cuisine,
#diet,
#time,
#search-field {
    min-width: 110px;
    height: 32px;
    text-align: start;
    padding-left: 15px;
    font-family: poppins, sans-serif;
    font-size: 12px;
    border-radius: 4px;
    border-style: none;
    color: var(--main-font-color);

}

#time {
    text-transform: lowercase;
}

#search-field {
    width: 200px;
}

#main__recipes-results-list {
    width: 100%;
    column-count: 3;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    /*column-gap: 30px;*/
    /*row-gap: 30px;*/
    /*margin: 10px;*/
}

.recipe-result-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    border-radius: 4px;
    min-width: calc(100% * (1/3));
    min-height: 220px;
    margin-bottom: 30px;
    break-inside: avoid-column;
    background-color: var(--light-bg-font-color);
    box-shadow: 0 4px 9px -2px rgba(0, 0, 0, 0.44);
}

/*calc(100% * (1/2) - 150px - 0px);*/

.recipe-result-img {
    height: 150px;
    /*width: 100%;*/
    object-fit: cover;
    position: relative;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 0;
}

.recipe-result-card {
    /*background-color: var(--light-bg-font-color);*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*align-content: flex-end;*/
    margin-top: 0;
    padding: 10px;
    height: 70px;
    box-shadow: 0 -5px 5px -2px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.recipe-info-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    gap: 3px;
}


/* --------------- 4.3.2 Main - Recipe Page ---------------------- */
.main__recipe-page-inner-container {
    padding-bottom: 30px;
    /*padding-top: 30px;*/
}

#main__recipe-page-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

.recipe-page-card {
    margin-top: 30px;

}


.recipe-description-card {
    width: 45%;
    height: max-content;
    /*padding: 10px;*/
}

.recipe-page-img-card {
    border: 5px solid black;
    width: 30%;
    height: 100px;
}

.recipe-ingredients-card {
    width: calc(100% * (1/2) - 150px - 0px);
    height: max-content;
    /*padding: 10px 10px 10px 30px;*/
}

#ingredients-list li {
    list-style-type: inherit;
    margin-left: 25px;
    padding-left: 10px;
}

.recipe-nutrients-card {
    width: calc(100% * (1/2) - 0px - 150px);
}

.recipe-health-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;
    height: auto;
}

#health-label-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 14px;

}

#health-label-list {

}

.health-background-shape {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--dark-bg-font-color);
    background-color: var(--button-color);
    padding-right: 10px;
    padding-left: 10px;
    width: fit-content;
    min-width: 60px;
    height: 28px;
    /*align-items: center;*/
    border-radius: 15px;
    /*text-align: center;*/
    font-weight: 500;
}


/*---------------- 4.2.3 Main - Calculator Page ------- */
.calculator__inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#calculator__field,
#calculator__amount-field {
    width: 200px;
    height: 32px;
    text-align: start;
    padding-left: 15px;
    font-family: poppins, sans-serif;
    font-size: 12px;
    border-radius: 4px;
    color: var(--main-font-color);
    border: 1px solid var(--dark-bg-font-color);
}

#calculator__search-button,
#calculator__servings-button {
    border: 1px solid var(--dark-bg-font-color);
}

#calculator__amount-field {
    width: 100px;
    margin-right: 45px;
}

#calculator__servings-button {
    width: 90px;
    margin-left: 20px;
    text-align: center;
    padding-left: 0;
}
#calculator__servings-button::after {
    content: "";
    display: inline-block;
    padding-left: 0;
}
.calculator__servings {
    font-size: 12px;
}

/* --------------- 4.4 Footer ------------------------- */
.footer__wrapper {
    background-color: var(--dark-bg-font-color);
    width: 100%;
    height: 200px;
}

.footer-list {
    color: var(--button-color);
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: var(--inner-container-width);
}

.footer-list li p {
    color: var(--light-bg-font-color);
    padding-top: 7px;
}

.footer__icon-card {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer__circle {
    background-color: var(--button-color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.footer__social-icon {
    display: flex;
    flex-direction: column;
    padding-top: 25%;
    align-items: center;
}


img {
    height: 10px;
    color: var(--button-color);
}

.footer__icon-card {
    padding-top: 5px;
}

/* ------------------------------- 5. Media Queries -------------------------------- */





